<ion-view view-title="Class Timetable">
  <ion-content>
    <div class="row">
      <div class="heading col">
        <h3><i class="icon ion-ios-calendar"></i> Student <span>Attendance</span></h3>
      </div>
    </div>
	<div class="row">
      <div class="col box-green-sub">
	     <h3><i class="icon ion-ios-calendar"></i> July</h3>
	  </div>
	</div>  
  </ion-content>
</ion-view>
