<ion-view view-title="Student Profile">
  <ion-content>
    <div class="row">
      <div class="col">
        <div class="heading col">
          <h3>Complaint / <span>Suggestion Box </span></h3>
        </div>
      </div>
    </div>
    </div>
    <form ng-submit="" name="frmComplaint" class="invision-form">
      <div class="row">
        <div class="col">
		<textarea placeholder="Complaint Suggestion Box" class="complaine_box"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="button button-block button-positive" type="submit">Complaint / Suggestion Box</button>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
