<ion-view view-title="Exam Timetable">
  <ion-content>
    <div class="row">
	  <div class="heading col"><h3><i class="icon ion-ios-calendar-outline"></i>	 Exam <span>Timetable</span></h3></div></div>
  </ion-content>
</ion-view>
