<ion-view view-title="Student Profile">
  <ion-content>
    <div class="row">
      <div class="col col-50 bg-green" data-ui-sref="app.student-update-information"> <i class="icon ion-plus-circled"></i><br/>
        Student Profile<br/>
        Update</div>
      <div class="col col-50 bg-yellow" data-ui-sref="app.student-details"> <i class="icon ion-person-add"></i><br/>
        Student Profile<br/>
        Details</div>
    </div>
    <div class="row">
      <div class="col col-50 bg-yellow" data-ui-sref="app.timetable"> <i class="icon ion-calendar"></i><br/>
        View Class<br/>
        Timetable</div>
      <div class="col col-50 bg-green" data-ui-sref="app.exam-timetable"> <i class="icon ion-calendar"></i><br/>
        View Exam<br/>
        Timetable</div>
    </div>
    <div class="row">
      <div class="col col-50 bg-green" data-ui-sref="app.complain"> <i class="icon ion-android-hangout"></i> <br/>
        Complaint Box<br/>
        &nbsp;</div>
      <div class="col col-50 bg-yellow" data-ui-sref="app.notice-board"> <i class="icon ion-android-clipboard"></i><br/>
        Notice Board<br/>
        &nbsp;</div>
    </div>
    <div class="row">
      <div class="col col-50 bg-yellow" data-ui-sref="app.student-details"> <i class="icon ion-android-contacts"></i>	<br/>
        Student Attendance<br/>
        &nbsp;</div>
    </div>
  </ion-content>
</ion-view>
