<ion-view view-title="Login" hide-nav-bar="true" class="full-page-bckg">
  <ion-content has-bouncing="false">
    <form ng-submit="loginCtrl.doLogin(data)" name="loginForm" class="invision-form">
      <div class="row">
        <div class="col title" style="margin-top:200px;">
          <h1>Welcome <span>To EMS</span></h1>
        </div>
      </div>
      <div class="row">
        <div class="col" data-tap-disabled="true">
          <input type="text" ng-model="data.email" required placeholder="Email" class="inputs">
        </div>
      </div>
	  <div class="row">
        <div class="col">
		<select ng-model="data.role">
          <option value="">Select Role</option>
		  <option value="Parent">Parent</option>
		  <option value="Parent">Teacher</option>
		 </select> 
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input type="password" ng-model="data.password" required ng-minlength="6" placeholder="Password" class="inputs">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="button button-block button-positive" type="submit" ng-disabled="!loginForm.$valid" >Log in</button>
          <button class="button button-block button-positive" type="submit" style="background:#f39c12!important;">Forget Password</button>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
