<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button> </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"> </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Left</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/home"> Home <i class="icon ion-ios-arrow-forward right"></i>	 </ion-item>
        <ion-item menu-close href="#/app/student-details"> Student Details <i class="icon ion-ios-arrow-forward right"></i>	 </ion-item>
		 <ion-item menu-close href="#/app/student-update-information"> Student Profile Update <i class="icon ion-ios-arrow-forward right"></i>	 </ion-item>
        <ion-item menu-close href="#/app/attendance"> List Of Attendance <i class="icon ion-ios-arrow-forward right"></i>	</ion-item>
        <ion-item menu-close href="#/app/timetable"> Show Timetable <i class="icon ion-ios-arrow-forward right"></i>	 </ion-item>
		<ion-item menu-close href="#/app/exam-timetable"> Show Exam Timetable <i class="icon ion-ios-arrow-forward right"></i>	 </ion-item>
        <ion-item menu-close href="#/app/notice-board"> Notice Board <i class="icon ion-ios-arrow-forward right"></i>	 </ion-item>
        <ion-item menu-close href="#/app/complain"> Complaint / Suggestion Box <i class="icon ion-ios-arrow-forward right" ></i>	 </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
