<ion-view view-title="Notice Board">
  <ion-content>
    <div class="row">
      <div class="heading col">
        <h3><i class="icon ion-ios-reverse-camera"></i> Notice <span>Board</span></h3>
      </div>
    </div>
	 <div class="row" ng-repeat="y in arr">
	   <div class="col col-20">
	     <div class="noticeboard">
		    <i class="icon ion-ios-reverse-camera"></i>
		 </div>
	   </div>
	   <div class="col col-80">
	      <h4>{{y.notice_board_title}}</h4>
		  <p>{{y.message}}</p>
		  <span>By {{y.by_person}}</span>
	   </div>
	 </div>
  </ion-content>
</ion-view>
