<ion-view view-title="Update Student Information">
  <ion-content>
    <div class="row">
	  <div class="heading col"><h3>Update <span>Student Information</span></h3></div></div>
	  <div class="list">
        <label class="item item-input">
          <span class="input-label">Sudent-Name:</span>
          <input type="text"  ng-model="data.stu_name">
        </label>
		<label class="item item-input">
          <span class="input-label">Date-of-Birth:</span>
          <input type="text" ng-model="data.dob">
        </label>
		<label class="item item-input">
          <span class="input-label">Email-Id:</span>
          <input type="text" ng-model="data.email">
        </label>
		<label class="item item-input">
          <span class="input-label">Temporary-Address:</span>
          <input type="text" ng-model="data.temp_address">
        </label>
		<label class="item item-input">
          <span class="input-label">Permanent-Address:</span>
          <input type="text" ng-model="data.perm_address">
        </label>
		<label class="item item-input">
          <span class="input-label">Contact-No:</span>
          <input type="text" ng-model="data.contact_no">
        </label>
		<label class="item item-input">
          <span class="input-label">Father-Name:</span>
          <input type="text" ng-model="data.father_name">
        </label>
		<label class="item item-input">
          <span class="input-label">Father-Occupation:</span>
          <input type="text" ng-model="data.father_occupation">
        </label>
		<label class="item item-input">
          <span class="input-label">Father-Qualification.:</span>
          <input type="text" ng-model="data.father_qualification">
        </label>
		<label class="item item-input">
          <span class="input-label">Mother-Name:</span>
          <input type="text" ng-model="data.mother_name">
        </label>
		<label class="item item-input">
          <span class="input-label">Mother-Occupation:</span>
          <input type="text" ng-model="data.mother_occupation">
        </label>
		<label class="item item-input">
          <span class="input-label">Mother-Qualification.:</span>
          <input type="text" ng-model="data.mother_qualification">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Update Information</button>
        </label>
      </div>
  </ion-content>
</ion-view>