<ion-view view-title="Student Details">
  <ion-content>
    <div class="row">
	  <div class="heading col"><h3><i class="icon ion-android-person-add"></i> Student <span>Details</span></h3></div></div>
	<div class="row">  
	   <div class="col box-green-sub">
	     <h3><i class="icon ion-android-person-add"></i> Personal Details</h3>
		 <p>Name: <span id="name"></span></p>
		 <p>Class: <span id="class"></span></p>
		 <p>Section: <span id="section"></span></p>
		 <p>Year: <span id="year"></span></p>
	   </div>
	</div>
	<div class="row">
	   <div class="col box-yellow-sub">
	     <h3><i class="icon ion-person-stalker"></i> Parents Details</h3>
		 <p>Father Name: <span id="father_name"></span></p>
		 <p>Father Occupation: <span id="father_occupation"></span></p>
		 <p>Father Education: <span id="father_education"></span></p>
		 <p>Mother Name: <span id="mother_name"></span></p>
		 <p>Mother Occupation: <span id="mother_occupation"></span></p>
		 <p>Mother Education: <span id="mother_education"></span></p>
	   </div>
	</div>
	<div class="row">
	   <div class="col box-green-sub">
	     <h3><i class="icon ion-home"></i> Address Details</h3>
		 <p>Contact: <span id="contact"></span></p>
		 <p>Email-Id: <span id="email_id"></span></p>
		 <p>Permanent-Address: <span id="permanent_address"></span></p>
		 <p>Temporary-Address: <span id="temporary_address"></span></p>
	   </div>
	</div>
  </ion-content>
</ion-view>
