<ion-view view-title="Class Timetable">
  <ion-content>
    <div class="row">
      <div class="heading col">
        <h3><i class="icon ion-ios-calendar"></i> Class <span>Timetable</span></h3>
      </div>
    </div>
    <div class="row">
      <div class="col box-green-sub">
        <h3><i class="icon ion-ios-calendar"></i> Monday</h3>
        <p ng-repeat="y in arr" ng-if="y.weekday_id==0"><strong>Period {{$index +1}}:</strong> &nbsp;<span>{{y.sub_name}} <span class="time-small">From ({{y.start_period_time}} To {{y.end_period_time}})</span></span></p>
      </div>
    </div>
	<div class="row">
      <div class="col box-yellow-sub">
        <h3><i class="icon ion-ios-calendar"></i> Tuesday</h3>
        <p ng-repeat="y in arr" ng-if="y.weekday_id==1"><strong>Period {{$index +1}} :</strong> &nbsp;<span>{{y.sub_name}} <span class="time-small">From ({{y.start_period_time}} To {{y.end_period_time}})</span></span></p>
      </div>
    </div>
	<div class="row">
      <div class="col box-green-sub">
        <h3><i class="icon ion-ios-calendar"></i> Wednesday</h3>
        <p ng-repeat="y in arr" ng-if="y.weekday_id==2"><strong>Period {{$index +1}} :</strong> &nbsp;<span>{{y.sub_name}} <span class="time-small">From ({{y.start_period_time}} To {{y.end_period_time}})</span></span></p>
      </div>
    </div>
	<div class="row">
      <div class="col box-yellow-sub">
        <h3><i class="icon ion-ios-calendar"></i> Thrusday</h3>
        <p ng-repeat="y in arr" ng-if="y.weekday_id==3"><strong>Period {{$index +1}} :</strong> &nbsp;<span>{{y.sub_name}} <span class="time-small">From ({{y.start_period_time}} To {{y.end_period_time}})</span></span></p>
      </div>
    </div>
	<div class="row">
      <div class="col box-green-sub">
        <h3><i class="icon ion-ios-calendar"></i> Friday</h3>
        <p ng-repeat="y in arr" ng-if="y.weekday_id==4"><strong>Period {{$index +1}} :</strong> &nbsp;<span>{{y.sub_name}} <span class="time-small">From ({{y.start_period_time}} To {{y.end_period_time}})</span></span></p>
      </div>
    </div>
	<div class="row">
      <div class="col box-yellow-sub">
        <h3><i class="icon ion-ios-calendar"></i> Saturday</h3>
        <p ng-repeat="y in arr" ng-if="y.weekday_id==5"><strong>Period {{$index +1}} :</strong> &nbsp;<span>{{y.sub_name}} <span class="time-small">From ({{y.start_period_time}} To {{y.end_period_time}})</span></span></p>
      </div>
    </div>
  </ion-content>
</ion-view>
