/* Empty. Add your own CSS if you like */
.bar.bar-stable {
    border-color: #b2b2b2;
    background-color: #f39c12 !important;
    background-image: linear-gradient(0deg, #b2b2b2, #b2b2b2 50%, transparent 50%);
    color: #ccc!important;
}
.item-complex .item-content, .item-radio .item-content {
    position: relative;
    z-index: 2;
    padding: 16px 49px 16px 16px;
    border: none;
	background:#008548 !important;
	color:#FFFFFF;
}
.menu .scroll-content {
    z-index: 10;
    background:#008548 !important;
}
.bg-green{
    background-color: #008548 !important;
	color:#fff;
	padding:32px 0px;
	text-align:center;
	font-size:18px;
	text-shadow:1px 1px 1px #000;
	margin:0px 5px 5px 0px;
	box-shadow:0px 0px 0px 1px #ccc;
}
.bg-yellow{
    background-color: #f39c12 !important;
	color:#fff;
	padding:32px 0px;
	text-align:center;
	font-size:18px;
	text-shadow:1px 1px 1px #000;
	margin-bottom:12px;
	margin:0px 5px 5px 0px;
	box-shadow:0px 0px 0px 1px #ccc;
}
.right{
    loat: right!important;
    margin-left: 12px;
    position: absolute;
    left: 226px;
    background: #f39c12;
    padding: 1px 7px 0px 8px;
    border-radius: 48px;
	border:1px solid #fff;
}
.box-yellow-sub{
    border:1px solid #f39c12 !important;
    padding:0px 0px!important;
	margin-top:12px;
}
.box-yellow-sub p{
    padding-left:12px; 
}
.box-yellow-sub h3{
   background-color: #f39c12 !important;
   padding:6px 6px 6px 6px;
   color:#FFFFFF;
   text-shadow:1px 1px 1px #000;
}

.box-green-sub{
    border:1px solid #008548 !important;
    padding:0px 0px!important;
	margin-top:12px;
}
.box-green-sub p{
    padding-left:12px; 
}
.box-green-sub h3{
   background-color: #008548 !important;
   padding:6px 6px 6px 6px;
   color:#FFFFFF;
   text-shadow:1px 1px 1px #000;
}
.heading{
   border-bottom:1px solid #008548 !important;
}
.heading h3{
   color:#008548 !important;
   text-shadow:1px 1px 1px #000;
   margin-bottom: 0px;
}
.heading h3 span{
   color:#f39c12 !important;
   text-shadow:1px 1px 1px #000;
}
.bar.bar-stable .title {
   color: #fff;
   text-shadow:1px 1px 1px #000;
}
.title h1{
   color:#008548 !important;
   text-shadow:1px 1px 1px #000;
   margin-bottom: 0px!important;
   text-align:center;
}
.title h1 span{
   color:#f39c12 !important;
   text-shadow:1px 1px 1px #000;
}
.button-positive{
   background-color: #008548!important;
}
.full-page-bckg{
   background:url('../img/bg.jpg');
}
.item{ 
   background:#ffffff5c;
}
.inputs{ 
  background:#008548!important; 
  width:100%; 
  padding:24px 12px 24px 12px!important;
}
.inputs::placeholder{ 
  color:#FFFFFF!important; 
}
.complaine_box{
  width:100%!important;
  height:200px!important;
  border:1px solid #008548!important;
  padding:12px 12px 12px 12px;
}
.profile_input{
  width:100%!important;
  display:block!important;   
}
select{
    background: #008548!important;
    width: 100%;
    padding:13px 12px 13px 6px!important;
	color:#fff;
}
.time-small{ font-size:11px; color:#008548 !important; font-weight:600;}
.noticeboard{background:#008548 !important; font-size:72px; text-align:center; margin-top:12px; color:#FFFFFF;}
.input-label{ width:auto!important;}